*{
    margin: 0;
    padding: 0;
}
.main{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/rats-getty.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.outlined-text {
    color: white; /* Text fill color */
    -webkit-text-stroke-width: 0.5px; /* Outline width */
    -webkit-text-stroke-color: black; /* Outline color */
    font-family: "Britannic Bold", serif;
}



nav{
    display: flex;
    padding: 24px 24px;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links_home{
    flex: 1;
    text-align: left;
}
.nav-links_home ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links_home ul li a{
    color: #0076fd;
    text-decoration: none;
    font-size: 16px;


}